.content_portfolio{
	padding-left: 42px;
	margin-bottom: 248px;
}
.projects{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.projects_item{
	display: inline-block;
	margin-right: 31px;
	margin-bottom: 35px;
	vertical-align: top;
	list-style-type: none;
}
.add_background{
	background-color: #f1efef ;
}
.add_link{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 25px;
}
.add_link:hover{
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
  cursor: pointer;
}
.add_link:active{
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.project_item_box{
	width: 167px;
	border: 1px solid #a5a8aa;
	border-radius: 5px ;
	background-color: #ffffff;
	  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}
.photo_wrapper{
	width: 100%;
	height:121px;
	border-bottom: 1px solid #a5a8aa;
	overflow: hidden;
	position: relative;
}
.portfolio_img{
	width: 101%;
	height: 106%;
	margin-top: -2px;
}
.project_link_box{
	width: 100%;
	background-color: #f2f2f2;
	font-size: 13px;
	color: rgb(112, 112, 112);
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	padding-top: 13px;
	padding-bottom: 13px;
	word-wrap: break-word;

}
.project_link{
	text-decoration: none;
}
.project_link:hover{
	text-decoration: underline;
}
.project_disc{
	max-width: 100%;
	height: auto;
	font-size: 12px;
	text-align: center;	
	padding: 5px;
	padding-left: 5px;

}
.polaroid_wrapper{
	width: 55px;
	margin: 0 auto 13px auto;
}
.text_add{
	font-size: 14px;
	text-align: center;
	margin-bottom: 25px;
}



#popup_modal{
	display: none;
	width: 100px;
	height: 100px;
}

.mask{
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	border-radius: 4px 4px 0px 0px;
}
.more_link{
	color: #f8f7f6;
	text-decoration: none;
	display: block;
	position: relative;
}

.photo_wrapper:hover .mask{
	position: absolute;
	top: 0;
	left: 0;

}
.more_link_border{
	position: absolute;
	border: 2px solid #f8f7f6;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	top: 45.5px;
	left: 50%;
	margin-left: -50px;
	font-style: "OpenSans";
	text-align: center;
	line-height: 2em;
}
.more_link_border:hover{
	box-shadow: 0px 0px 10px 0px #000000 inset;
}
.more_link_border:active{
	box-shadow: 0px 0px 30px 0px #000000 inset;
}
/*______________________________________________________________*/
/*______________________________________________________________*/
/*_____________________________POPUP____________________________*/
/*______________________________________________________________*/
/*______________________________________________________________*/
.popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    color: #727070;
    display: none;
}
.content_popup{
	position: relative;
	padding-top: 24px;
  border-radius: 5px;
  background-color: #f1efee;
  box-shadow: 0px 11px 27px 0px rgba(159, 159, 159, 0.75),inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  width: 362px;
}
.popup_wrapper_form{
  border-radius: 4px; 
  width: 318px;
  margin: 0 auto 0 auto;
}

.input_add_form{
  border-width: 1px;
  border-color: rgb(72, 203, 232);
  border-style: solid;
  border-color: rgb(214, 213, 211);
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  height: 39px;
  width: 100%;
  text-indent: 10px;
  font-family: "OpenSans";
  font-weight: 300px;
  font-size: 12px;
  color: #727070;

}
.wrapper_row_add{
	margin-bottom: 11px;
}
.textarea_add_form{
	resize:none;
	width: 312px;
	height: 109px;
}
.margin_submit_add{
	margin: 0 auto 27px 111px;

}
.close_wrapper{
	width: 14px;
	height: 14px;
	position: absolute;
	right: 6px;
	top: 7px;
	cursor: pointer;
	overflow: hidden;
}
.wrapper_for_cloud{
	width: 25px;
	height: 18px;
	overflow: hidden;
}

.add_img{
	width: 264px;
	border-right: 0;
	border-radius: 4px 0 0 4px;
}
.wrapper_for_cloud{
	background: url(img/cloud.png) no-repeat;
	background-position: 50%;
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
  width: 52px;
  height: 42px;
  background-color: #ece9e9;
  position: relative;
  float: right;
    border-width: 1px;
 border-color: rgb(214, 213, 211);
  border-style: solid;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  cursor: pointer;
}
.wrapper_for_cloud:hover{
		background: url(img/cloud.png) no-repeat;
	background-position: 50%;
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}
.wrapper_for_cloud:active {
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.22),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
.cloud_center{
	position: absolute;
	margin-left: 12.5px;
	margin-top: 9px;
	cursor: pointer;
}

.input_file{
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.content_popup:before{
	content: "Добавление проекта";
	  font-family: "OpenSans";
  font-weight: 300px;
  font-size: 12px;
  color: #f8f7f6;
  position: absolute;
  top: -30px;
  left: 20px;

}